<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
 
<beans>
    <!-- Business Objects -->
    <bean id="businessDelegate"
            class="com.tutorials4u.business.BusinessDelegate">
    </bean>
 
    <!-- Actions Classes -->   
    <bean name="/insertUser" class="com.tutorials4u.actions.UserAction">
        <property name="businessDelegate"><ref local="businessDelegate"/></property>
    </bean>
    
    <bean name="/listUsers" class="com.tutorials4u.actions.UserAction">
        <property name="businessDelegate"><ref local="businessDelegate"/></property>
    </bean>
    
    <bean name="/deleteUser" class="com.tutorials4u.actions.UserAction">
        <property name="businessDelegate"><ref local="businessDelegate"/></property>
    </bean>
    
    <bean name="/editUser" class="com.tutorials4u.actions.UserAction">
        <property name="businessDelegate"><ref local="businessDelegate"/></property>
    </bean>
    
    <bean name="/updateUser" class="com.tutorials4u.actions.UserAction">
        <property name="businessDelegate"><ref local="businessDelegate"/></property>
    </bean>
</beans>